<div class="row top-row">
  <div class="col-lg-6">
    <h1 class="">Tagesansicht, {{day[0] | date:'dd.MM.yyyy'}}</h1>
  </div>
  <div class="col-lg-6 top-options">
    <form class="form-inline pull-right">
      <label for="datepicker">Datum:&nbsp;&nbsp;</label>
      <div class="form-group">
        <div class="input-group date" id="datepicker">
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">  <div class="col-lg-4 day">
    <div class="panel panel-info">
      <div class="panel-heading"><strong>{{day[0] | date:'dd.MM.yyyy'}}</strong></div>
      <div class="panel-body">
        <h1>
          <i class="wi wi-day-sunny"></i>&nbsp;&nbsp;{{day[2] | number:0}} °C
          <span class="min-temperature">{{day[3] | number:0}} °C</span>
        </h1>
        <br/>
        <p><strong>Regen</strong>&nbsp;&nbsp; {{day[5] | number:1}}%</p>
        <p><strong>Luftdruck</strong>&nbsp;&nbsp; {{day[4] | number:0}} hPa</p>
        <p><strong>Sonnenstunden</strong>&nbsp;&nbsp; {{day[6] < 0.5 ? 'Vorwiegend sonnig' : 'Vorwiegend bedeckt'}}</p>
        <p><strong>Luftfeuchtigkeit</strong>&nbsp;&nbsp; {{day[1] | number:1}}%</p>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="fade-in">
      <chart
        chart-id="chart-temperature"
        layout="TEMPERATURE"
        title="Temperatur"
        style="warning" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="fade-in">
    <chart
      chart-id="chart-humidity"
      layout="HUMIDITY"
      title="Luftfeuchtigkeit"
      style="success" />
    </div>
  </div>
  <div class="col-lg-6">
    <div class="fade-in">
    <chart
      chart-id="chart-pressure"
      layout="PRESSURE"
      title="Luftdruck"
      style="primary" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="fade-in">
    <chart
      chart-id="chart-rain"
      layout="RAIN"
      title="Regen"
      style="primary" />
    </div>
  </div>
  <div class="col-lg-6">
    <div class="fade-in">
    <chart
      chart-id="chart-sun"
      layout="SUN"
      title="Sonne"
      style="danger" />
    </div>
  </div>
</div>
