<div class="row">
  <div class='col-lg-offset-9 col-lg-3'>
    <form class="form-inline pull-right">
      <label for="datepicker">Datum:</label>
      <div class="form-group">
        <div class='input-group date' id='datepicker'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 day">
    <div class="panel panel-info">
      <div class="panel-heading"><strong>{{day.ts | date:'dd.MM.yyyy'}}</strong></div>
      <div class="panel-body">
        <h1>
          <i class="wi wi-day-sunny"></i>&nbsp;&nbsp;{{day.temperatureMax | number:0}} °C
          <span class="min-temperature">{{day.temperatureMin | number:0}} °C</span>
        </h1>
        <br/>
        <p><strong>Regen</strong>&nbsp;&nbsp; {{day.rain | number:1}}%</p>
        <p><strong>Luftdruck</strong>&nbsp;&nbsp; {{day.pressure | number:0}} hPa</p>
        <p><strong>Sonnenstunden</strong>&nbsp;&nbsp; {{day.sunHours | number:0}} Std.</p>
        <p><strong>Luftfeuchtigkeit</strong>&nbsp;&nbsp; {{day.humidity | number:1}}%</p>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="fade-in">
      <chart
        chart-id="chart-temperature"
        layout="TEMPERATURE"
        title="Temperatur"
        style="warning" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="fade-in">
    <chart
      chart-id="chart-humidity"
      layout="HUMIDITY"
      title="Luftfeuchtigkeit"
      style="success" />
    </div>
  </div>
  <div class="col-lg-6">
    <div class="fade-in">
    <chart
      chart-id="chart-pressure"
      layout="PRESSURE"
      title="Luftdruck"
      style="primary" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="fade-in">
    <chart
      chart-id="chart-rain"
      layout="RAIN"
      title="Regen"
      style="primary" />
    </div>
  </div>
  <div class="col-lg-6">
    <div class="fade-in">
    <chart
      chart-id="chart-sun"
      layout="SUN"
      title="Sonne"
      style="danger" />
    </div>
  </div>
</div>
