<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-info">
      <div class="panel-heading">Letzte Messungen</div>
      <div class="panel-body"><h1>23 °C, Stuttgart</h1>
        <br/>
        <p><strong>Luftdruck</strong>&nbsp;&nbsp; 1.0014  hPa (1 bar)</p>
        <p><strong>Luftqualität</strong>&nbsp;&nbsp; Sehr gut</p>
        <p><strong>Verhältnisse</strong>&nbsp;&nbsp; Hell, Trocken</p>
        <p><strong>Luftfeuchtigkeit</strong>&nbsp;&nbsp; 34%</p></div>
      </div>
  </div>

  <div class="col-lg-8">
    <chart
      chart-id="chart-temperature"
      layout="{{CHART_OPTIONS.TEMPERATURE}}"
      key="temperature"
      title="Temperatur"
      style="warning" />
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <chart
      chart-id="chart-humidity"
      layout="{{CHART_OPTIONS.HUMIDITY}}"
      key="humidity"
      title="Luftfeuchtigkeit"
      style="success" />
  </div>
  <div class="col-lg-6">
    <chart
      chart-id="chart-pressure"
      layout="{{CHART_OPTIONS.PRESSURE}}"
      key="pressure"
      title="Luftdruck"
      style="primary" />
  </div>
</div>
