<div class="row">
  <div class="col-lg-12">
    <chart
      chart-id="chart-temperature"
      layout="TEMPERATURE"
      title="Temperatur"
      style="warning"
      flow="true" />
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <chart
      chart-id="chart-humidity"
      layout="HUMIDITY"
      title="Luftfeuchtigkeit"
      style="success"
      flow="true" />
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <chart
      chart-id="chart-pressure"
      layout="PRESSURE"
      title="Luftdruck"
      style="primary"
      flow="true" />
  </div>
</div>
