<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <li class="sidebar-brand">
      <a href="#!/main">
        Wetterstation
      </a>
    </li>
    <li>
      <a ng-click="open('/')" href="javascript:void(0)">Letzte Woche</a>
    </li>
    <li>
      <a ng-click="open('/day')" href="javascript:void(0)">Ein Tag</a>
    </li>
    <li>
      <a ng-click="open('/realtime')" href="javascript:void(0)">Echtzeit</a>
    </li>
    <li>
      <a ng-click="open('/all')" href="javascript:void(0)">Alle Daten</a>
    </li>
  </ul>
</nav>
<!-- /#sidebar-wrapper -->
