
<div class="row top-row">
  <div class="col-lg-6">
    <h1 class="">Letzte Woche</h1>
  </div>
  <div class="col-lg-6 top-options">
    <div class="pull-right bottom-margin">
      Ansicht: &nbsp;&nbsp;
      <div class="btn-group" role="group">
        <a ng-click="default=true" ng-class="{'active': default}" class="btn btn-default">4 Tage</a>
        <a ng-click="default=false" ng-class="{'active': !default}" class="btn btn-default">6 Tage</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div ng-repeat="day in days track by $index">

    <div class="day fade-in fade-in-{{$index}}"
      ng-class="{'col-lg-3': default, 'col-lg-2': !default}"
      ng-if="(default && $index < 4) || !default"
      ng-click="open(day[0])">
      <div class="panel" ng-class="{'panel-warning panel-today': $first, 'panel-info panel-past-day': !$first}">
        <div class="panel-heading">{{day[0] | date:'dd.MM.yyyy'}}</div>
        <div class="panel-body">
          <h2>
            <i class="wi wi-day-sunny"></i>&nbsp;&nbsp;{{day[2] | number:0}} °C
            <span class="min-temperature">{{day[3] | number:0}} °C</span>
          </h2>
          <br/>
          <p>
            <strong>Regen</strong>
            <span ng-show="default">&nbsp;&nbsp;</span>
            <span ng-show="!default"></br></span>
            {{day[5] | number:1}}%
          </p>
          <p>
            <strong>Luftdruck</strong>
            <span ng-show="default">&nbsp;&nbsp;</span>
            <span ng-show="!default"></br></span>
            {{day[4] | number:0}} hPa
          </p>
          <p>
            <strong>Sonnenstunden</strong>
            <span ng-show="default">&nbsp;&nbsp;</span>
            <span ng-show="!default"></br></span>
            {{day[6] < 0.5 ? 'Vorwiegend sonnig' : 'Vorwiegend bedeckt'}}
          </p>
          <p>
            <strong>Luftfeuchtigkeit</strong>
            <span ng-show="default">&nbsp;&nbsp;</span>
            <span ng-show="!default"></br></span>
            {{day[1] | number:1}}%
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
