<!doctype html>
<html lang="en">
<head>
  <title>Wetter App</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" sizes="57x57" href="./icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="./icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./icons/favicon-16x16.png">
  <link rel="manifest" href="./icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="./vendor/bootswatch-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./vendor/c3/c3.min.css">
  <link rel="stylesheet" href="./vendor/weather-icons/css/weather-icons.min.css">
  <link rel="stylesheet" href="./vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

  <link rel="stylesheet" href="./css/fonts.css">
  <link rel="stylesheet" href="./css/footer.css">
  <link rel="stylesheet" href="./css/sidebar.css">
  <link rel="stylesheet" href="./css/charts.css">
  <link rel="stylesheet" href="./css/weather.css">
</head>

<body ng-app="weatherApp" ng-cloak ng-controller="MainController">

  <div id="wrapper" ng-controller="SidebarController" ng-class="{'toggled': !isClosed}">
    <div class="overlay" ng-click="toggleNavbar()"></div>

    <div ng-include="'templates/sidebar.html'"></div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <button type="button" class="hamburger"
        ng-class="{'is-closed': isClosed, 'is-open': !isClosed}"
        ng-click="toggleNavbar()">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>

      <div class="container">
         <div ng-view></div>
      </div>

    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <div ng-include="'templates/footer.html'" include-replace></div>

  <script src="./vendor/angular/angular.min.js"></script>
  <script src="./vendor/angular-i18n/angular-locale_de-de.js"></script>
  <script src="./vendor/angular-route/angular-route.min.js"></script>
  <script src="./vendor/d3/d3.min.js"></script>
  <script src="./vendor/c3/c3.js"></script>
  <script src="./vendor/jquery/dist/jquery.min.js"></script>
  <script src="./vendor/moment/min/moment.min.js"></script>
  <script src="./vendor/bootswatch-dist/js/bootstrap.min.js"></script>
  <script src="./vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script src="./vendor/particles.js/particles.min.js"></script>

  <script src="./js/app.module.js"></script>
  <script src="./js/app.config.js"></script>
  <script src="./js/app.constants.js"></script>

  <script src="./js/service/dataService.js"></script>
  <script src="./js/service/datetimeService.js"></script>

  <script src="./js/controller/mainController.js"></script>
  <script src="./js/controller/sidebarController.js"></script>
  <script src="./js/controller/weekController.js"></script>
  <script src="./js/controller/dayController.js"></script>
  <script src="./js/controller/realtimeController.js"></script>
  <script src="./js/controller/allController.js"></script>

  <script src="./js/controller/chartController.js"></script>

  <script src="./js/directive/chartDirective.js"></script>
  <script src="./js/directive/includeReplaceDirective.js"></script>

  <script src="./js/particles.js"></script>
</body>
</html>
