text {
  font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.c3-line-temperature, .c3-line-sun, .c3-line-humidity, .c3-line-rain {
  stroke-width: 2px!important;
}

/*@keyframes temperature {
  from { stroke-dashoffset: 16; }
  to { stroke-dashoffset: 0; }
}*/

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.temperature {

}

#chart-all>svg>g:nth-child(3) .tick {
  display: none !important;
}
