text {
  font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.c3-line-temperature {
  stroke-width: 3px!important;
  /*stroke-dasharray: 8;
  -webkit-animation: dash 1s linear infinite;
  -webkit-animation-name: temperature;*/
}

.c3-target-temperature .c3-text {
  fill: #B65F13!important;
}

/*@keyframes temperature {
  from { stroke-dashoffset: 16; }
  to { stroke-dashoffset: 0; }
}*/

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.temperature {

}

#chart-all>svg>g:nth-child(3) .tick {
  display: none !important;
}
